<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="PATTERN">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n
        </Property>
    </Properties>

    <Appenders>

        <!-- Prints to console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <!-- Writes general logs to file -->
        <RollingFile name="AppFile"
                     fileName="${LOG_DIR}/application.log"
                     filePattern="${LOG_DIR}/application-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <!-- Writes only errors and warnings -->
        <RollingFile name="ErrorFile"
                     fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/error-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <ThresholdFilter level="WARN"
                             onMatch="ACCEPT"
                             onMismatch="DENY"/>
        </RollingFile>

        <!-- Writes row-by-row transformation trail -->
        <RollingFile name="IngestionFile"
                     fileName="${LOG_DIR}/ingestion.log"
                     filePattern="${LOG_DIR}/ingestion-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Ingestion logs go to ingestion.log only -->
        <Logger name="com.healthcare.reader"
                level="DEBUG"
                additivity="false">
            <AppenderRef ref="IngestionFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Everything else -->
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AppFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Root>

    </Loggers>

</Configuration>